body {
    color: #333333;
    margin: 0;
    font-family: helvetica, arial, sans-serif;
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

pre, code {
    font-family: monospace,monospace; /* To make 1em = 16px in Chrome,
    Firefox and Safari */
    font-size: 1em; /* To make 1em = 16px in IE */
    color: #000080;
}

pre {
    background: #eeeeee;
    padding: 0.1em 0.3em;
    border-radius: 3px;
    border: 1px solid #cccccc;
    overflow: auto; /* to add a scroll bar when there is long code */
}

#home, #navigation {
    text-transform: uppercase;
    height: 4em;
    display: inline-block;
    line-height: 4em;
    font-weight: bold;
    vertical-align: top
}

#home {
    width: 30%;
    text-align: center;
    overflow: hidden;
}

#navigation {
    width: 70%;
}

#navigation ul {
    list-style-type: none;
    padding-left: 0px;
    margin: 0;
    text-align: center;
}

#navigation li {
    display: inline-block;
    padding-right: 1em;
}

#banner {
    height: 240px;
}

#banner img {
    height: 100%;
    width: 100%;
}

#bio {
    text-align: center;
    margin: 1em; 
    padding-bottom: 0.5em;
    border-bottom: 1px solid #cccccc;
}

#facebook-like {
    text-align: center;
    margin: 1em; 
    padding-bottom: 1em;
    border-bottom: 1px solid #cccccc;
}


#bio img {
    padding-top: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content, #posts, #post {
    margin: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #cccccc;
    word-wrap: break-word; /* To prevent long text from extending out of
    the box and breaking the layout. break-word allows unbreakable words
    to be broken */
}

#comments {
    margin: 1em;
    text-align: center;
}

#posts h3 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #cccccc;
}

#bio p {
    font-style: italic;
    font-size: 0.9em;
}

#bio ul {
    list-style-type: none;
    padding-left: 0px;
}

#bio li {
    display: inline-block;
}

#footer {
    text-align: center;
    width: 100%;
    display: inline-block;
}

a:link, a:visited {
    color: #0000e0;
    text-decoration: none
}

#home a:link, #home a:visited, #navigation a:link, #navigation
a:visited, #posts a:link, #posts a:visited {
    color: #333333;
}

a:hover, a:active {
    text-decoration: underline
}

#home a:hover, #home a:active, #navigation a:hover, #navigation
a:active, #posts a:hover, #posts a:active {
    color: #777777;
}

.largeimage {
    height: 100%;
    width: 100%;
}

/* Style for computer displays */
@media screen and (min-width: 40em) {

    body {
        min-width: 40em;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: 'PT Sans Narrow', sans-serif;
    }

    #home {
        width: 25%;
    }

    #navigation {
        width: 75%;
    }

    #banner {
        height: 384px;
    }
    
    #bio {
        width: 25%;
        display: inline-block;
        text-align: left;
        float: left;
        margin: 0;
        padding-bottom: 0;
        border-bottom: none;
    }

    #facebook-like {
        width: 25%;
        display: inline-block;
        float: right;
        margin: 0;
        padding-bottom: 0;
        border-bottom: none;
        padding-top: 1em;
        overflow: hidden;
    }

    #content, #posts, #post {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding-top: 1em;
        margin: 0;
        padding-bottom: 0;
        border-bottom: none;
    }

    #bio img {
        padding-top: 1em;
    }

    #comments {
        width: 50%;
        text-align: left;
        margin: 0;
        padding-top: 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .article-wrap {
       width: 96%;
       margin-left: 0px;
       margin-right: auto;
    }

    .center {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    #bio li {
         display: block;
    }

    #navigation ul {
         text-align: left;
    }

}
