body {
    color: #333333;
    background: #f5deb3;
    margin: 0;
    font-family: helvetica, arial, sans-serif;
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

code, pre {
    background: #deb887; /*burlywood*/
    padding: 0px, 1px;
    border: 1px none;
    border-radius: 3px;
    font-family: monospace;
    font-size: 0.9em;
}

pre {
    overflow: auto;
}

#home, #navigation {
    background: #a1804a;
    text-transform: uppercase;
    height: 4em;
    display: inline-block;
    line-height: 4em;
    font-weight: bold;
    vertical-align: top
}

#home {
    width: 30%;
    text-align: center;
}

#navigation {
    width: 70%;
}

#navigation ul {
    list-style-type: none;
    padding-left: 0px;
    margin: 0;
    text-align: center;
}

#navigation li {
    display: inline-block;
    padding-right: 1em;
}

#banner {
    height: 240px;
}

#banner img {
    height: 100%;
    width: 100%;
}

#bio {
    text-align: center;
    margin: 1em; 
}

#bio img {
    padding-top: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content, #posts, #post {
    margin: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #deb887;
}

#posts h3 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #deb887;
}

#bio p {
    font-style: italic;
    font-size: 0.9em;
}

#bio ul {
    list-style-type: none;
    padding-left: 0px;
}

#bio li {
    display: inline-block;
}

#footer {
    text-align: center;
    width: 100%;
    display: inline-block;
}

a:link, a:visited {
    color: #0000e0;
    text-decoration: none
}

#home a:link, #home a:visited, #navigation a:link, #navigation a:visited
{
    color: #f5deb3; /*wheat*/
}

#posts a:link, #posts a:visited {
    color: #a1804a;
}

#post a:link, #post a:visited {
    color: #4169E1; /*royalblue*/
}

a:hover, a:active {
    text-decoration: underline
}

#home a:hover, #home a:active, #navigation a:hover, #navigation a:active
{
    color: #fafad2; /*lightgoldenrodyellow*/
}

#posts a:hover, #posts a:active {
    color: #deb887; /*burlywood*/
}

.largeimage {
    height: 100%;
    width: 100%;
}

/* Style for computer displays */
@media screen and (min-width: 40em) {

    body {
        min-width: 40em;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: 'PT Sans Narrow', sans-serif;
    }

    #banner {
        height: 384px;
    }
    
    #bio {
        width: 30%;
        display: inline-block;
        text-align: left;
        float: left;
        margin: 0;
    }

    #content, #posts, #post {
        width: 70%;
        display: inline-block;
        vertical-align: top;
        padding-top: 1em;
        float: right;
        margin: 0;
        padding-bottom: 0;
        border-bottom: none;
    }

    .article-wrap {
       width: 75%;
       margin-left: 0px;
       margin-right: auto;
    }

    .center {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    #bio li {
         display: block;
    }

    #navigation ul {
         text-align: left;
    }

}
