---
layout: default
---
{% include _banner.html %}
<div id="recent-posts">
    <div class="article-wrap">
      <h1><a href="{{ site.url}}/blog/">Recent Posts</a></h1>
        {% for post in site.posts limit:5 %}
        <article>
          <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
          <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 120 }}{% endif %}</p>
        </article>
      {% endfor %}
    </div>
    <hr>
</div>{% include _bio.html %}{% include _facebook-like.html %}
