---
layout: default
---
{% include _banner.html %}
<div id="content">
    <div class="article-wrap">
        <!-- Main content -->
        <p>
        {{ site.owner.name }} is a Computer Engineer at RSA and she
        enjoys problem-solving. Being a keen learner, Sunaina is fond of
        her gadgets, loves to travel places and hopes to taste different
        delicacies of the world. She is fascinated by beaches and other
        water bodies. In her free time, she watches movies and sitcoms,
        reads books, goes shopping or day dreams.
        </p>
    </div>
</div>{% include _bio.html %}{% include _facebook-like.html %}
